<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>O-MATCHA</display-name>
  <welcome-file-list>
    <welcome-file>page/index.jsp</welcome-file>
  </welcome-file-list> 
  <!-- shopping -->
  <servlet>
  	<servlet-name>shopping</servlet-name>
  	<servlet-class>com.omatcha.servlet.ShoppingServlet</servlet-class>
  </servlet>
 <servlet-mapping>
	<servlet-name>shopping</servlet-name> 
	<url-pattern>/shoppingAjax</url-pattern>
 </servlet-mapping>
 
  <!-- shoppingcart -->
  <servlet>
  	<servlet-name>shoppingcart</servlet-name>
  	<servlet-class>com.omatcha.servlet.ShoppingCartServlet</servlet-class>
  </servlet>
 <servlet-mapping>
	<servlet-name>shoppingcart</servlet-name> 
	<url-pattern>/shoppingcartAjax</url-pattern>
 </servlet-mapping>
  <!-- product -->
  <servlet>
  	<servlet-name>product</servlet-name>
  	<servlet-class>com.omatcha.servlet.ProductServlet</servlet-class>
  </servlet>
 <servlet-mapping>
	<servlet-name>product</servlet-name> 
	<url-pattern>/product.do</url-pattern>
 </servlet-mapping>  
    <!-- 注册 -->
<servlet>
  	<servlet-name>sign-up</servlet-name>
  	<servlet-class>com.omatcha.servlet.signupservlet</servlet-class>
 </servlet>
 <servlet-mapping>
  	<servlet-name>sign-up</servlet-name>
  	<url-pattern>/page/signup.do</url-pattern>
 </servlet-mapping>
<!-- 登录 -->
 <servlet>
  	<servlet-name>login</servlet-name>
  	<servlet-class>com.omatcha.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/page/login.do</url-pattern>
 </servlet-mapping>
 <!-- 查询名字 -->
 <servlet>
  	<servlet-name>ajax</servlet-name>
  	<servlet-class>com.omatcha.servlet.CheckName</servlet-class>
 </servlet>
 <servlet-mapping>
  	<servlet-name>ajax</servlet-name>
  	<url-pattern>/CheckName</url-pattern>
 </servlet-mapping>
 


<!-- 验证码 -->
<servlet>
		<servlet-name>ValiCodeServlet</servlet-name>
		<servlet-class>com.omatcha.servlet.CodeServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ValiCodeServlet</servlet-name>
	<url-pattern>/vali.img</url-pattern>
</servlet-mapping>
 
 <!-- 上传头像 -->
 <servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>com.omatcha.servlet.UploadTx</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/page/uploadtx</url-pattern>
  </servlet-mapping>
  
   <!-- 用户信息 -->
   <servlet>
		<servlet-name>userlist</servlet-name>
		<servlet-class>com.omatcha.servlet.Userslist</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>userlist</servlet-name>
		<url-pattern>/page/userlist</url-pattern>
  </servlet-mapping>
  
<!-- 用户信息 -->
<servlet>
		<servlet-name>express</servlet-name>
		<servlet-class>com.omatcha.servlet.InsertExpressadress</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>express</servlet-name>
		<url-pattern>/page/express</url-pattern>
</servlet-mapping>
  
</web-app>