#biangao,#fangshi,#dizi{

}#tdone,#shuliang,#heji,#tdtow{
	line-height:70px;
}.bane{
	margin-top:10px;
	width:300px;
	height:130px;
	float:left;
	margin-left:70px;
}#dingdanbiao{
	margin-top:20px;
}
#modal-422240{
	width:120px;
	height:35px;
	background-color:#39B3D7;
	font-size:15px;
	color:black;
	margin-top:15px;
	
}